# ##################################################################################################
#  The MIT License (MIT)
#  Copyright (c) 2025 Advanced Micro Devices, Inc. All rights reserved.
# 
#  Permission is hereby granted, free of charge, to any person obtaining a copy of this software
#  and associated documentation files (the "Software"), to deal in the Software without restriction,
#  including without limitation the rights to use, copy, modify, merge, publish, distribute,
#  sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is
#  furnished to do so, subject to the following conditions:
# 
#  The above copyright notice and this permission notice shall be included in all copies or
#  substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
# NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
# DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
# ##################################################################################################

[connectivity]

nk=perf:76

sp=perf_0.m_axi_gmem0:HBM0
sp=perf_1.m_axi_gmem0:HBM1
sp=perf_2.m_axi_gmem0:HBM2
sp=perf_3.m_axi_gmem0:HBM3
sp=perf_4.m_axi_gmem0:HBM4
sp=perf_5.m_axi_gmem0:HBM5
sp=perf_6.m_axi_gmem0:HBM6
sp=perf_7.m_axi_gmem0:HBM7
sp=perf_8.m_axi_gmem0:HBM8
sp=perf_9.m_axi_gmem0:HBM9
sp=perf_10.m_axi_gmem0:HBM10
sp=perf_11.m_axi_gmem0:HBM11
sp=perf_12.m_axi_gmem0:HBM12
sp=perf_13.m_axi_gmem0:HBM13
sp=perf_14.m_axi_gmem0:HBM14
sp=perf_15.m_axi_gmem0:HBM15
sp=perf_16.m_axi_gmem0:HBM16
sp=perf_17.m_axi_gmem0:HBM17
sp=perf_18.m_axi_gmem0:HBM18
sp=perf_19.m_axi_gmem0:HBM19
sp=perf_20.m_axi_gmem0:HBM20
sp=perf_21.m_axi_gmem0:HBM21
sp=perf_22.m_axi_gmem0:HBM22
sp=perf_23.m_axi_gmem0:HBM23
sp=perf_24.m_axi_gmem0:HBM24
sp=perf_25.m_axi_gmem0:HBM25
sp=perf_26.m_axi_gmem0:HBM26
sp=perf_27.m_axi_gmem0:HBM27
sp=perf_28.m_axi_gmem0:HBM28
sp=perf_29.m_axi_gmem0:HBM29
sp=perf_30.m_axi_gmem0:HBM30
sp=perf_31.m_axi_gmem0:HBM31
sp=perf_32.m_axi_gmem0:HBM32
sp=perf_33.m_axi_gmem0:HBM33
sp=perf_34.m_axi_gmem0:HBM34
sp=perf_35.m_axi_gmem0:HBM35
sp=perf_36.m_axi_gmem0:HBM36
sp=perf_37.m_axi_gmem0:HBM37
sp=perf_38.m_axi_gmem0:HBM38
sp=perf_39.m_axi_gmem0:HBM39
sp=perf_40.m_axi_gmem0:HBM40
sp=perf_41.m_axi_gmem0:HBM41
sp=perf_42.m_axi_gmem0:HBM42
sp=perf_43.m_axi_gmem0:HBM43
sp=perf_44.m_axi_gmem0:HBM44
sp=perf_45.m_axi_gmem0:HBM45
sp=perf_46.m_axi_gmem0:HBM46
sp=perf_47.m_axi_gmem0:HBM47
sp=perf_48.m_axi_gmem0:HBM48
sp=perf_49.m_axi_gmem0:HBM49
sp=perf_50.m_axi_gmem0:HBM50
sp=perf_51.m_axi_gmem0:HBM51
sp=perf_52.m_axi_gmem0:HBM52
sp=perf_53.m_axi_gmem0:HBM53
sp=perf_54.m_axi_gmem0:HBM54
sp=perf_55.m_axi_gmem0:HBM55
sp=perf_56.m_axi_gmem0:HBM56
sp=perf_57.m_axi_gmem0:HBM57
sp=perf_58.m_axi_gmem0:HBM58
sp=perf_59.m_axi_gmem0:HBM59
sp=perf_60.m_axi_gmem0:HBM60
sp=perf_61.m_axi_gmem0:HBM61
sp=perf_62.m_axi_gmem0:HBM62
sp=perf_63.m_axi_gmem0:HBM63

sp=perf_64.m_axi_gmem0:MEM
sp=perf_65.m_axi_gmem0:MEM
sp=perf_66.m_axi_gmem0:MEM
sp=perf_67.m_axi_gmem0:MEM
sp=perf_68.m_axi_gmem0:MEM
sp=perf_69.m_axi_gmem0:MEM
sp=perf_70.m_axi_gmem0:MEM
sp=perf_71.m_axi_gmem0:MEM

sp=perf_72.m_axi_gmem0:DDR0
sp=perf_73.m_axi_gmem0:DDR1
sp=perf_74.m_axi_gmem0:DDR2
sp=perf_75.m_axi_gmem0:DDR3
